

#info h1 {
    font-family: "Anta", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #fffffe;
    text-align: center;
}

p {
    color: #b8c1ec;
    font-family: Monaco;
    text-align: center;
}