
ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 44px;
    overflow: hidden;
    font-family: Monaco;
    box-sizing: border-box;
}

li {
    float: right;
}

li a {
    display: block;
    color: #fffffe;
    text-align: center;
    text-decoration: none;
    padding: 12px 13px;
}

li a:hover {
    background-color: #eebbc3;
    border-radius: 10px;
    color: #232946;
}

#logo{ 
    float: left;
    height: 90%;
    width: auto;
    padding: 5px;
}