body{
    background-color: #232946;
}

.create-note {
    font-family: "Anta", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: auto;
    padding-top: 5%;
    align-items: center;
}

.create-note h2 {
    color: aliceblue;
}

.create-note .create {
    width: 120%;
    padding-top: 10px;
}
.create-note .create input {
    font-family: Monaco;
    height: 30px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 8px;
    color: #fff;
    font-size: 1.2em;
    box-shadow: none;
    outline: none; 
}

#create-submit:hover {
    color: #232946;
    background-color: #eebbc3;
}
.create-note .create textarea {
    font-family: Monaco;
    height: 150px;
    width: 100%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 8px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none; 
}
.mytable {
    font-family: 'Monaco';
    border: 1px transparent;
    border-radius: 8px;
    background-color: #d4d8f0;
    display: flex;
    justify-content: center;
    width: 500px;
    margin: auto;
}

table {
    border: 2px solid;
    text-align: left;
    border-collapse: collapse;
    padding-top: 20px;
    width: 100%;
}

#myTable {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    text-align: left;
    border: 1px solid;
    color: #121629;
}

tbody, thead {
    margin: auto;
}
