div{
    display: flex;
}

#info {
    padding-top: 60px;
    background-color: #232946;
    padding-bottom: 30px;
    flex-direction: column;
    padding-bottom: 70px;
}
#info h1 {
    font-family: "Anta", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #fffffe;
    text-align: center;
    font-size: 60px;
}

#info p {
    font-family: Monaco;
    color: #b8c1ec;
    text-align: center;
}

#info p a {
    text-decoration: none;
    font-size: large;
    color: #232946;
    border: solid #eebbc3;
    border-radius: 6px;
    background-color: #eebbc3;
}

#info p a:hover {
    color: #eebbc3;
    background-color: black;
    border: #232946;
}



.features {
    padding: 5%;
    font-family: "Anta", sans-serif;
    background-color: #d4d8f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features h1 {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 70px;
}

.features img {
    border-radius: 30px;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: Monaco;
    background-color: #232946;
    color: #fffffe;
}

footer a {
    text-decoration: none;
    font-size: larger;
    color: #fffffe;
}